#phpmae-main-grid {
    margin:15px 0;
}

#phpmae-result {
    font-family: monospace;
}

#phpmae-source-editor, #phpmae-config-editor {
    margin:15px 0;
}

.phpmae-signedout-only, .phpmae-signedin-only {
    display:none;
}